
/* GLOBAL SELECTORS */

input {
    padding: 15px 65px;
    border: none;
    border-bottom:3px dashed darkred;
    background: transparent; 
    border-radius: 2%;
}

body {
    display: flex;
    align-items: center;
   
}

h1 {
    font-size: 40px; 
    font-weight: bold;
}

p {
 font-size: 20px;
 margin: 0;
}

img {
    width: 50px;
}

mark {
    background-color: #e8967a;
    padding: 2px 20px;
    border-radius: 15%;
}

/* ID'S */

#container {
    margin: 120px 100px;
    padding: 150px; 
    background-image: url(./background/background.jpeg);
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.20) 7px 7px 7px;
    background-size: cover;
    font-family: 'Gochi Hand', cursive;
    height: 300px;
    width: 300px;
    overflow: auto;
}

/* CLASSES */

.form {
    display: block;
    margin: 10px;
}

.background {
    background: #e8967a;
    margin: 0;
}

.logo {
   display: flex; 
    align-items: center; 
    margin-top: -135px;
}

.top {
    display: flex; 
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.clipboard {
    width: 75px;
    height: 75px;
}

.to-do-header {
    transform: rotate(2deg);  
}

.button {
    border-radius: 10%; 
    border: none;
    box-shadow:0px 2px 0px #A9A9A9;
    margin: 0 10px;
    padding: 15px;
    font-family: 'Gochi Hand', cursive;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    background-color: black;
    color: white;
}

#btn {
    border-radius: 10%; 
    border: none;
    box-shadow:0px 2px 0px #A9A9A9;
    margin: 0;
    padding: 15px;
    font-family: 'Gochi Hand', cursive;
    font-size: 16px;
    text-align: center;
}

#btn:hover {
    background-color: black;
    color: white;
}

/* Responsive layout */
@media (max-width: 1600px) {
    body {
      flex-direction: column;
    }
  }

  @media (max-height: 1600px) {
    body {
      flex-direction: column;
    }
  } 