/*    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;*/

body {
    font-family: 'Fira Sans', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    
} 

li,.header-btn button {
    margin: 0 1rem 0 1rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
} 

h1 {
    font-size: 72px;
    
} 

p {
    font-size: 18px;
   
}

.black-btn {
    background: black;
    color: white;
    padding: 1.5rem;
    text-transform: capitalize;
    font-size: 18px;

}

.no-bg-btn {
    background: none;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration: none;

} 

a:hover { 
    color: #808080

} 

.no-bg-btn:hover {
    color:white;
    background: black;
    padding: 1.5rem;
}

.black-btn:hover {
    color: black;
    background: none;
}

.header-buttons .black-btn {
    margin-right: 1rem;
}

.user-btn .no-bg-btn {
    margin-right: 1rem;
}